# ALL STARS IPL-Team

** Selection of team on basis of Past IPL perfomances. **

## Batsmen

### Rohit Sharma
### Shane Watson
### Virat Kohli
### AB de Villiers
### Suresh Raina

## Wicket Keeper

### MS Dhoni

## All Rounders

### Andre Russel
### Hardik Pandya

## Bowlers

### Sunil Narine
### Bhuvneshwar Kumar
### Jasprit Bumrah

In [8]:
import pandas as pd
df = pd.read_csv('All Stars.csv')
df

,Sl. No.,Player,Age,Team,From,Matches Played,Runs,Average,Strike Rate,Wickets,Balls Bowled,Runs Conceded,Economy,Catches Taken,Role
0,1,Rohit Sharma,31,MI,IND,173,4493,31.86,131.02,15.0,332.0,440.0,7.95,79,BAT
1,2,Shane Watson,37,CSK,AUS,117,3177,32.41,141.20,92.0,2029.0,2682.0,7.93,32,BAT
2,3,Virat Kohli,30,RCB,IND,163,4948,38.35,130.76,4.0,251.0,368.0,8.79,69,BAT
3,4,AB de Villiers,34,RCB,SA,141,3953,39.53,150.93,NaN,NaN,NaN,NaN,87,BAT
4,5,Suresh Raina,32,CSK,IND,176,4985,34.37,138.47,25.0,902.0,1112.0,7.39,94,BAT
5,6,MS Dhoni,37,CSK,IND,175,4016,40.16,138.19,NaN,NaN,NaN,NaN,87,WK
6,7,Andre Russel,30,KKR,WI,50,890,26.96,177.29,44.0,858.0,1251.0,8.74,17,AR
7,8,Hardik Pandya,25,MI,IND,50,666,23.78,138.75,28.0,614.0,923.0,9.01,32,AR
8,9,Sunil Narine,30,KKR,WI,98,628,17.44,168.81,112.0,2292.0,2498.0,6.53,17,BOWL
9,10,Bhuvneshwar Kumar,28,SRH,IND,102,171,8.14,98.84,120.0,2258.0,2693.0,7.15,23,BOWL
10,11,Jasprit Bumrah,25,MI,IND,61,35,11.66,94.59,63.0,1368.0,1777.0,7.79,7,BOWL